body {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: var(--unnamed-color-f4f4f7) 0% 0% no-repeat padding-box;
    background: #F4F4F7 0% 0% no-repeat padding-box;
    opacity: 1;
}